import React from "react"

import Layout from 'components/layout/layout'
import PageTitle from 'components/layout/page-title'
import PageContent from 'components/layout/page-content'

export const {{pascalCase name}} = () => {
	return (
		<Layout>
			<PageTitle
				breadcrumbs="" />
			<PageContent>
				<div className="{{pascalCase name}}" data-test="{{pascalCase name}}">{{pascalCase name}} Page</div>
			</PageContent>
		</Layout>
	)
}

export default {{pascalCase name}}
