import React from 'react'
import { string } from 'prop-types'
import './style.less'

const {{pascalCase name}} = () => {
    return <div className='{{pascalCase name}}' data-test='{{pascalCase name}}'>{{pascalCase name}} Component</div>
}

{{pascalCase name}}.propTypes = {
	example: string,
}

export default {{pascalCase name}}
